<nav class="navbar navbar-light bg-light mb-3">
  <div class="container">
    <form class="form-inline" (ngSubmit)="onSubmit($event)">
      <div class="form-group mx-sm-3 mb-2">
        <label for="num" class="sr-only">Кол-во элементов</label>
        <input type="number" class="form-control" id="num" name="items" min="1">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Сгенерировать</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="mansory"></div>
</div>

